@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic');

body {
    font-family: 'Montserrat', sans-serif;
    width : 100%;
    margin: 0 auto;
}

section {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0));
}

.header {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background-color: black;
}

.header-content {
    margin-left: 5%;
    margin-right: 5%;
}

.logo-container{
    margin-top:20px;
    display: block;
    float: left;
}

.logo {
    font-size: 50px;
    padding: 25px;
    text-decoration: none;
    color: white;
}

.medium-font {
    font-size: 18px;
}

.menu-container {
    display: block;
    float: right;
    height: 100px;
}

.menu-item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    height: 28px;
    padding: 16px 10px;
}

.menu-item a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.menu-item a:hover {
    text-decoration: underline;
}

.menu-item input {
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.menu-item input:hover {
    text-decoration: underline;
}



.content {
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.content-small {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.content-full {
    width: 100%;
}

.bordered {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}

.button {
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button-disabled {
    border: 2px solid #ccc;
    color: #ccc;
    pointer-events: none;
}

.button-block {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.button-inline {
    display: inline;
}

.button:hover {
    background-color: black;
    color: white;
}

.check {
    background: url("../images/check.png") no-repeat center;
}

.check:hover {
    background: black url("../images/check_white.png") no-repeat center;
}

.cross {
    background: url("../images/cross.png") no-repeat center;
}

.cross:hover {
    background: black url("../images/cross_white.png") no-repeat center;
}

.delete {
    background: url("../images/delete.png") no-repeat center;
}

.delete:hover {
    background: black url("../images/delete_white.png") no-repeat center;
}

.edit {
    background: url("../images/edit.png") no-repeat center;
}

.edit:hover {
    background: black url("../images/edit_white.png") no-repeat center;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.welcome {
    font-size: 40px;
    text-align: center;
}

.table {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.rating {
    font-weight: bold;
    float: right;
    display: inline-block;
    border: 3px solid #4d194d;
    border-radius: 5px;
    padding: 20px;
    background-color: #862d86;
    color : white;
            /*#ffcc00;*/
}

.movie {
    color: black;
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}

.movie:hover {
    border: 1px solid black;
}

.title {
    font-size: 36px;
    display: inline-block;
}

.username {
    font-weight: bold;
    display: inline;
}

.date {
    display: inline;
}

.review {
    width : 100%;
    height : 250px;
    border: 1px solid black;
    border-radius: 3px;
    resize: none;
}

.form input[type=text], input[type=email], input[type=password], input[type=date], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form input[type=submit] {
    width: 100%;
    cursor: pointer;
}

.form label {
    font-size: 18px;
    font-weight: bold;
}

.form {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.username-error, .email-error, .password-error {
    display: none;
}

table.users-table {
    border-collapse: collapse;
    width: 100%;
}

table.users-table th {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

table.users-table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 2px solid #D8000C;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}

/* ------------ Custom select ------------ */
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.custom-select select {
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition-duration: 0.4s;
}

.custom-select select:hover,
.custom-select select:focus {
    background-color: black;
    color: white;
}

.select-arrow {
    position: absolute;
    top: 24px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}